header.header{
    background: var(--color-bg-header);
    padding: .8rem 1.3rem;
    position: fixed;
    width: 100%;
    z-index: 101;
}

div input.search#search {
    background: #f2f2f2;
    color: var(--color-text-bg-light);
    padding: .6rem 1.1rem;
    padding-left: 2.5rem;
    border-radius: 50px;
    border: none !important;
    outline: 0;
}

.links > li {
    cursor: pointer;
}

li > ul {
    background: var(--color-bg-header);
    padding: .8rem 1.3rem;
    display: none;
    z-index: 1;
}

li:hover > ul {
    display: flex;
}


@media (max-width: 768px) {
    .listHamburgerActive{
        position: fixed;
        display: flex !important;
        z-index: 100;
        top: 4rem;
        height: calc(100vh - 4rem);
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        left: 0;
        padding: 1.25rem;
        background-color: rgb(255 255 255 / 0.5);
        color: #000;
        overflow: scroll;
    }
    li > ul {
        background-color: rgb(255 255 255 / 0.2);
        width: 100vw;
        padding: .8rem 1.3rem;
        display: none;
        z-index: 1;
        left: 0;
        margin-top: .8rem;
    }
    ul li {
        margin-left: auto;
        margin-right: auto;
    }
    li:hover > ul {
        display: flex;
    }
}